---

- name: Create redis configuration directory
  file:
    path: "{{ redis_workdir }}"
    state: directory
    mode: 0777
    recurse: true

- name: Create redis log directory
  file:
    path: "{{ redis_log_dir }}"
    state: directory
    mode: 0777

- name: Copy redis overrides.conf
  copy:
    src: "{{ role_path }}/files/overrides.conf"
    dest: "{{ redis_workdir }}/overrides.conf"
    mode: 0664

- name: "Create a docker network: {{ docker_network_name }}"
  docker_network:
    name: "{{ docker_network_name }}"

- name: Remove old redis container
  docker_container:
    name: "{{ redis_docker_container }}"
    state: absent

- name: Start redis container
  docker_container:
    name: "{{ redis_docker_container }}"
    image: "{{ redis_docker_image }}:{{ redis_version }}"
    networks:
      - name: "{{ docker_network_name }}"
        aliases:
          - "{{ redis_docker_container | replace('_','-') }}"
    env:
      REDIS_PASSWORD: "{{ redis_password }}"
      REDIS_DISABLE_COMMANDS: FLUSHDB,FLUSHALL,CONFIG
    volumes:
      - redis_data:/bitnami/redis/data
      - "{{ redis_workdir }}/overrides.conf:/opt/bitnami/redis/mounted-etc/overrides.conf"
      - "{{ redis_log_dir }}:/opt/bitnami/redis/logs/"
    ports:
      - "{{ network.bind_host }}:6379:6379"
