#!/bin/bash

DUMP_FOLDER="/tmp"

DATE=$(date "+%Y%m%d")

filename="mariadb_${DATE}.sql"
output_file="${DUMP_FOLDER}/${filename}"

mysqldump --user=root --password={{ mariadb_root_password }} --host={{ groups['mariadb'][0] }} --all-databases > "$output_file"
gsutil cp "$output_file" "gs://{{ backups_assets_bucket }}/${filename}"
rm "${output_file}"
