cluster.name: {{ cluster_name }}
network.host: 0.0.0.0
network.bind_host: {{ network.bind_host }}
network.publish_host: {{ network.publish_host }}
node.name: {{ node_name }}
{% if 'all_in_one' not in groups %}
node.roles: {{ opensearch_node_roles }}
{% endif %}
discovery.seed_hosts: {{ discovery_seed_hosts }}
cluster.initial_master_nodes: {{ cluster_initial_manager_nodes }}
######## OpenSearch Security Configuration #########
plugins.security.ssl.transport.pemcert_filepath: {{ certs_files.node_cert }}
plugins.security.ssl.transport.pemkey_filepath: {{ certs_files.node_key }}
plugins.security.ssl.transport.pemtrustedcas_filepath: {{ certs_files.ca_cert }}
plugins.security.ssl.transport.enforce_hostname_verification: false
plugins.security.ssl.http.enabled: true
plugins.security.ssl.http.pemcert_filepath: {{ certs_files.node_cert }}
plugins.security.ssl.http.pemkey_filepath: {{ certs_files.node_key }}
plugins.security.ssl.http.pemtrustedcas_filepath: {{ certs_files.ca_cert }}
plugins.security.allow_unsafe_democertificates: false
plugins.security.allow_default_init_securityindex: false
plugins.security.authcz.admin_dn:
  - "{{ certs_dn.admin_cert }}"
plugins.security.nodes_dn:
  - "{{ certs_dn.node_cert }}"
{% if opensearch_auditlog_enabled %}
plugins.security.audit.type: internal_opensearch
{% endif %}
plugins.security.enable_snapshot_restore_privilege: true
plugins.security.check_snapshot_restore_write_privileges: true
plugins.security.restapi.roles_enabled: ["all_access", "security_rest_api_access"]
plugins.security.system_indices.enabled: true
plugins.security.system_indices.indices: [".opendistro-alerting-config", ".opendistro-alerting-alert*", ".opendistro-anomaly-results*", ".opendistro-anomaly-detector*", ".opendistro-anomaly-checkpoints", ".opendistro-anomaly-detection-state", ".opendistro-reports-*", ".opendistro-notifications-*", ".opendistro-notebooks", ".opendistro-asynchronous-search-response*"]
######## End OpenSearch Security Configuration ########
