logging:
  receivers:
    mysql_error:
      type: mysql_error
      include_paths: {{ mariadb_logging_error_include_paths }}
    mysql_slow:
      type: mysql_slow
      include_paths: {{ mariadb_logging_slow_include_paths }}
  service:
    pipelines:
      mysql:
        receivers:
          - mysql_error
          - mysql_slow
metrics:
  receivers:
    mysql:
      type: mysql
      endpoint: {{ mariadb_metric_endpoint }}
      password: {{ mariadb_root_password }}
      username: {{ mariadb_root_user }}
  service:
    pipelines:
      mysql:
        receivers:
          - mysql
