logging:
  receivers:
    docker-logs:
      type: files
      include_paths: [/var/lib/docker/containers/*/*-json.log]
      record_log_file_path: true
    opensearch-logs:
      type: files
      include_paths: {{ opensearch_logging_include_paths }}
  processors:
    parse_json:
      type: parse_json
      time_key: time
      time_format: "%Y-%m-%dT%H:%M:%S.%L"
  service:
    pipelines:
      pipeline:
        receivers: [docker-logs, opensearch-logs]
        processors: [parse_json]
