server {
    listen 80;

    server_name {{ instance.nginx.fqdn }};

{% if custom_cert is undefined %}
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
{% endif %}

    location / {
        return 301 https://$server_name$request_uri;
    }
}
