{% include 'vhost_port_80.j2' %}

server {
    include    mime.types;
    sendfile   on;

    listen 443 ssl;
    http2 on;
    server_name {{ instance.nginx.fqdn }};

    # Needed by OpenSearch Dashboards queries
    client_max_body_size 2000M;

{% if custom_cert is defined %}
    ssl_certificate /etc/ssl/certs/custom.crt;
    ssl_certificate_key /etc/ssl/certs/custom.key;
{% else %}
    ssl_certificate /etc/ssl/certbot_certs/live/{{ instance.nginx.fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/ssl/certbot_certs/live/{{ instance.nginx.fqdn }}/privkey.pem;
{% endif %}
    ssl_protocols TLSv1.3 TLSv1.2;
    ssl_ecdh_curve X25519:prime256v1:secp384r1;
    ssl_ciphers {{ nginx_ssl_ciphers }};
    ssl_prefer_server_ciphers off;
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    add_header Strict-Transport-Security "max-age=63072000;" always;

    rewrite ^/$ $scheme://$http_host/app/dashboards#/view/Overview permanent;
    location / {
{% if 'all_in_one' in groups and inventory_hostname in groups['all_in_one'] %}
        proxy_pass https://{{ ansible_default_ipv4.address }}:5601/;
        proxy_redirect https://{{ ansible_default_ipv4.address }}:5601/ /;
{% elif instance.public is defined and instance.public == true %}
        proxy_pass https://{{ hostvars[(groups['opensearch_dashboards_anonymous'][0])].ansible_default_ipv4.address }}:5601/;
        proxy_redirect https://{{ hostvars[(groups['opensearch_dashboards_anonymous'][0])].ansible_default_ipv4.address }}:5601/ /;
{% else %}
        proxy_pass https://{{ hostvars[(groups['opensearch_dashboards'][0])].ansible_default_ipv4.address }}:5601/;
        proxy_redirect https://{{ hostvars[(groups['opensearch_dashboards'][0])].ansible_default_ipv4.address }}:5601/ /;
{% endif %}
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header securitytenant {{ instance.tenant }};
    }

{% if instance.nginx.http_rest_api is defined and instance.nginx.http_rest_api == true %}
    location /data/ {
            proxy_pass https://opensearch_nodes/;
            proxy_http_version 1.1;
            proxy_set_header Connection "Keep-Alive";
            proxy_set_header Proxy-Connection "Keep-Alive";
            client_max_body_size 2000M;
            proxy_read_timeout 300;
            proxy_send_timeout 240;
    }

{% endif %}
    location /identities {
        rewrite ^/identities/(.*) /$1 break;

        include /etc/nginx/conf.d/uwsgi_params;
        uwsgi_pass {{ sortinghat_host }};
        uwsgi_param Host $host;
        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
        uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;
        uwsgi_param HTTP_sortinghat-tenant {{ instance.sortinghat.tenant | replace('-','_') }};
    }

    location ~ ^/identities/favicon-grimoirelab.ico {
      rewrite ^/identities/(.*)$ /$1 break;
      root /opt/gcs/;
    }

    location ~ ^/identities/(css|js|fonts)/ {
      rewrite ^/identities/(.*)$ /$1 break;
      root /opt/gcs/;
    }
}
