server {
    listen 80;

{% if nginx_default_host is defined %}
    server_name _;
{% else %}
    server_name {{ instance.nginx.fqdn }};
{% endif %}

{% if custom_cert is undefined %}
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
{% endif %}

    location / {
        return 301 https://$server_name$request_uri;
    }

{% if nginx_default_host is defined %}
    error_page 404 /custom_404.html;

    location = /custom_404.html {
        root /etc/nginx/conf.d;
        internal;
    }
{% endif %}
}
